<style>
    .img_set_313{ 
        width:90%;     
        height: auto;
    }
    .img_middle_313{ 
        width:90%;     
        height: auto;
        padding-bottom: 1rem;
    }
</style>


<div style="display: flex;" >
    <div style="flex:2">
        <img src="{{include.src_11}}" class="img_set_313 centered">
    </div>
    <div style="flex:1">
        <img src="{{include.src_21}}" class="img_middle_313 centered">
        <img src="{{include.src_22}}" class="img_middle_313 centered">
        <img src="{{include.src_23}}" class="img_middle_313 centered">
    </div>
    <div style="flex:2">
        <img src="{{include.src_31}}" class="img_set_313 centered">
    </div>
</div>