<style>
    .img_set_212{ 
        width:75%;     
        height: auto;
        padding-bottom: 1rem;
    }
    .img_middle_212{ 
        width:85%;     
        height: auto;
    }
</style>


<div style="display: flex;" >
    <div style="flex:2">
        <img src="{{include.src_11}}" class="img_set_212 centered">
        <img src="{{include.src_12}}" class="img_set_212 centered">
    </div>
    <div style="flex:3">
        <img src="{{include.src_21}}" class="img_middle_212 centered">
    </div>
    <div style="flex:2">
        <img src="{{include.src_31}}" class="img_set_212 centered">
        <img src="{{include.src_32}}" class="img_set_212 centered">
    </div>
</div>