--- 
layout: wrapper 
---
<style>
  .avatar_img{ 
      border-radius: 50%;
      height: 80%;
  }
  .header_list{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>

<div style="display: flex;">
  <div style="flex: 1;">
    <img src="/assets/carlson.png" class="avatar_img">
  </div>
  <div style="flex: 2;">
    <h1 style="color: pink;">Jake Carlson</h1>
    <h3 class="header_list"> Software Engineering </h3>
    <h3 class="header_list"> Recent Graduate of the University of Cincinnati </h3>
    <h3 class="header_list"> Github - <a href="https://github.com/jakeocinco"> github.com/jakeocinco </a></h3>
    <h3 class="header_list"> LinkedIn - <a href="https://www.linkedin.com/in/jakecarlson-85/"> linkedin.com/in/jakecarlson-85/ </a></h3>
    <h3 class="header_list"> Resume - <a href="/assets/CarlsonResume.pdf" download="CarlsonResume"> Download </a></h3>
  </div>
</div>


<br>
<hr style="border-color: pink;">

<h2><u>Work Experience</u></h2>
<p>Professionally, I had many amazing work opportunities during my tenure as a college student, spending time at both L3Harris and 84.51. I did my first two semesters of work at L3Harris (Fall 2018, Summer 2019), where I was thrust into a work environment for the first time. I was involved in a large-scale software development project, where I played a part developing software to interface with visible and infrared cameras. Most importantly, I learned how to operate amongst and lead a team, while undergoing the rigors of testing and documentation involving large releases.</p>

<p>My second co-op was at 84.51 (Spring and Summer 2020), where my work environment and responsibilities shifted dramatically. I worked as a full stack developer, primarily writing functionality and unit tests for a Java Spring Boot backend and Angular frontend. I was also able to explore and contribute to the management of our docker containers and databases, two technologies I had yet to encounter. Due to the schedule of my classes, I was able to spend an extended amount of time on my co-op experience at 84.51, working for eight consecutive months, which allowed me to really embed myself into the team. On an unlucky note, the COVID-19 pandemic caused a good portion of this time to be spent working from home, which forced me to quickly adapt to a very new environment once again.</p>

<p>I returned to 84.51 the following Summer (2021). This time in a different role, I am working as a data engineer on a team shifting to a more cloud focused data delivery solution. This role is requiring me to quickly upskill in the development of azure pipelines and database management.  </p>

<h2><u>Technical Skills</u></h2>
  <p>&nbsp;&nbsp;<u>Top Languages</u> - Java, Python, C++, Typescript</p>
  <p>&nbsp;&nbsp;<u>Tools</u> - Spring Boot, Angular, MongoDB, Docker, Git, Azure</p>

<h2><u>Education</u></h2>

<p>I enrolled in the University of Cincinnati as a freshman in the Fall of 2017, entering the University Honors Program (UHP) and the College of Engineering and Applied Sciences. Through the UHP, I was able to complete independent research and travel with my classmates around the world, completing the program in the Spring of 2021. </p>

<p>When enrolled in CEAS as a computer science student, I took a large number of classes directed towards the basis of computer science but found myself particularly interested in Machine Learning and developing coding infrastructure. I graduated Summa Cum Laude from the College of Engineering and Applied Science in the Spring 2021</p>

<h2><u>Involvment</u></h2>

<p>I try to stay as involved as possible on campus. I have been a part of two computer science oriented clubs, Cyber@UC and ACM@UC. With Cyber@UC, I have taken part in weekly meetings, consisting of cyber security news a lab demonstrating potential vulnerabilities in a system or how we can be better protected. I also annually compete in the NSA code breaker challenge. With ACM@UC, I attend weekly talks about emerging technologies and have competed in their hackathon the past few years.</p>

<p> of academic clubs, I have also participated as a partner with Special Olympics basketball and in biannual garbage pickup events around the city to clean up Cincinnati. I also stay involved by participating with the University of Cincinnati Run Club, where I have been able to stay in shape by running five to six days a week and competing in Cross Country races during the fall. I even developed a web site for the club. In a not as serious manner, I also love to compete on campus in intramurals no matter the sport.</p>

<h2><u>Projects</u></h2>

<p>No matter the setting, work, school, or on my own time, I love to code to either create new things or solve problems. Most things I do never make it past the scripting just to solve a quick problem phase, but those that turn into projects can typically be found on my GitHub. Here are a few projects that I have been working on:</p>

<div style="display: flex;">
  {% include project_card.html 
      title="Senior Design Project"
      text="Multiservice education app geared at providing real time feedback to both students and teachers. This project was devloped along side my classmate, Ryan Green"
      link="https://github.com/ryangreenj/CSSeniorDesign"
  %}
  {% include project_card.html 
      title="Darts Scoreboard Application"
      text="Currently in progress - Developing three teired darts app that will allow the user to enter and track score on the app, store information in a database, and monitor in game results on another device or tv. This is a collaborative project."
      link="https://github.com/Pink-Lady-Dev/Darts-Rest-API"
  %}
</div>


<!-- <h2><b>Personal</b></h2>
  <p>&nbsp;&nbsp;<u>Positivity</u> - I try my best to keep situations light and stay positive whenever I encounter any adversity. </p>
  <p>&nbsp;&nbsp;<u>Curosity</u> - I take an interest in tyring to learn and love to attack new problems and tools whenever possible, this is driven by a love for learning and new information.</p>
  <p>&nbsp;&nbsp;<u>Prudence</u> - I like to carefully consider my choices when faced with a decision and using all facts and tools at my disposal.</p> -->


<!-- <h2><u>Resume:</u>  -->

<br><br><br>
