--- 
layout: wrapper 
---
<img src="/assets/walkingCropped.png" style="width: 100%;">

<h1>Hello! My name is Jake Carlson and this is my portfolio.</h1>
<br>
<hr>
<h2><u>About Me</u></h2>
<p>Hello, My name is Jake Carlson and I am currently a fourth year at the University of Cincinnati studying to earn my Bachelors of Science in Computer Science.
</p>

<h2><u>Co-op Experience</u></h2>
<p>Professionally, I have had two amazing work opportunities at both L3Harris and 84.51. I did my first two semesters of work at L3Harris, where I was thrust into a work environment for the first time and had to learn on the job. As a defense contractor, I was involved in a large scale project developing software that interfaced with a visible and infrared cameras, but most importantly I learned how to operate amongst and lead a team and the riggers of testing and documentation involving large releases.</p>

<p>During my second co-op, this time at 84.51, I was in a very different environment. At 84.51, I was doing web development where my team was tasked with creating a web API as well as a front-end web application that uses it. This involved learning a lot of new frameworks such as Angular and Spring, and even more new concepts and ideas. Luckily, I was able to spend an extended amount of time there and worked for eight consecutive months, which allowed me to really embed myself into the team. On a not as lucky note, due to COVID-19, a good portion of this time was spent working from home which forced me to quickly adapt to a very new environment once again.</p>

<h2><u>Involvment</u></h2>

<p>I try to stay as involved as possible on campus. I have been a part of two computer science oriented clubs, Cyber@UC and ACM@UC. With Cyber@UC, I have taken part in weekly meetings, consisting of cyber security news a lab demonstrating potential vulnerabilities in a system or how we can be better protected. I also annually compete in the NSA code breaker challenge. With ACM@UC, I attend weekly talks about emerging technologies and have competed in their hackathon the past few years.</p>

<p> of academic clubs, I have also participated as a partner with Special Olympics basketball and in biannual garbage pickup events around the city to clean up Cincinnati. I also stay involved by participating with the University of Cincinnati Run Club, where I have been able to stay in shape by running five to six days a week and competing in Cross Country races during the fall. I even developed a web site for the club. In a not as serious manner, I also love to compete on campus in intramurals no matter the sport.</p>

<h2><u>Projects</u></h2>

<p>No matter the setting, work, school, or on my own time, I love to code to either create new things or solve problems. Most things I do never make it past the scripting just to solve a quick problem phase, but those that turn into projects can typically be found on my GitHub. Here are a few projects that I have been working on:</p>

<div style="display: flex;">
  {% include project_card.html 
      title="Senior Design Project"
      text="Multiservice education app geared at providing real time feedback to both students and teachers. This project was devloped along side my classmate, Ryan Green"
      link="https://github.com/ryangreenj/CSSeniorDesign"
  %}
  {% include project_card.html 
      title="Darts Scoreboard Application"
      text="Currently in progress - Developing three teired darts app that will allow the user to enter and track score on the app, store information in a database, and monitor in game results on another device or tv. This is a collaborative project."
      link="https://github.com/Pink-Lady-Dev/Darts-Rest-API"
  %}
</div>

<h2><u>Skills</u></h2>
<h2><b>Technical</b></h2>
  <p>&nbsp;&nbsp;<u>Top Languages</u> - Java, Python, C++, Javascript</p>
  <p>&nbsp;&nbsp;<u>Tools</u> - Spring Boot, Angular, MongoDB, Docker, Git</p>
<h2><b>Personal</b></h2>
  <p>&nbsp;&nbsp;<u>Positivity</u> - I try my best to keep situations light and stay positive whenever I encounter any adversity. </p>
  <p>&nbsp;&nbsp;<u>Curosity</u> - I take an interest in tyring to learn and love to attack new problems and tools whenever possible, this is driven by a love for learning and new information.</p>
  <p>&nbsp;&nbsp;<u>Prudence</u> - I like to carefully consider my choices when faced with a decision and using all facts and tools at my disposal.</p>


<h2><u>Resume:</u> <a href="/assets/CarlsonResume.pdf" download="CalrsonResume"> Download </a></h2>

<br><br><br>
