--- 
layout: wrapper 
---
<img src="/assets/walkingCropped.png" style="width: 100%;">

<h1>Hello! My name is Jake Carlson and this is my portfolio.</h1>
<br>
<hr>
<h2>About Me</h2>
<p>Hello, My name is Jake Carlson and I am currently a fourth year at the University of Cincinnati studying to earn my Bachelors of Science in Computer Science.
</p>

<h2>Co-op Experience</h2>
<p>Professionally, I have had two amazing work opportunities at both L3Harris and 84.51. I did my first two semesters of work at L3Harris, where I was thrust into a work environment for the first time and had to learn on the job. As a defense contractor, I was involved in a large scale project developing software that interfaced with a visible and infrared cameras, but most importantly I learned how to operate amongst and lead a team and the riggers of testing and documentation involving large releases.</p>

<p>During my second co-op, this time at 84.51, I was in a very different environment. At 84.51, I was doing web development where my team was tasked with creating a web API as well as a front-end web application that uses it. This involved learning a lot of new frameworks such as Angular and Spring, and even more new concepts and ideas. Luckily, I was able to spend an extended amount of time there and worked for eight consecutive months, which allowed me to really embed myself into the team. On a not as lucky note, due to COVID-19, a good portion of this time was spent working from home which forced me to quickly adapt to a very new environment once again.</p>

<h2>Involvment</h2>

<p>I try to stay as involved as possible on campus. I have been a part of two computer science oriented clubs, Cyber@UC and ACM@UC. With Cyber@UC, I have taken part in weekly meetings, consisting of cyber security news a lab demonstrating potential vulnerabilities in a system or how we can be better protected. I also annually compete in the NSA code breaker challenge. With ACM@UC, I attend weekly talks about emerging technologies and have competed in their hackathon the past few years.</p>

<p> of academic clubs, I have also participated as a partner with Special Olympics basketball and in biannual garbage pickup events around the city to clean up Cincinnati. I also stay involved by participating with the University of Cincinnati Run Club, where I have been able to stay in shape by running five to six days a week and competing in Cross Country races during the fall. I even developed a web site for the club. In a not as serious manner, I also love to compete on campus in intramurals no matter the sport.</p>

<h2>Projects</h2>

<p>No matter the setting, work, school, or on my own time, I love to code to either create new things or solve problems. Most things I do never make it past the scripting just to solve a quick problem phase, but those that turn into projects can typically be found on my GitHub. Here are a few projects that I have been working on:</p>

<!-- <div style="display: flex;">
  <div style="flex: 1;background-color: black; height: 50px;">
    <p>Hello</p>
  </div>
  <div style="flex: 1;background-color: red;"></div>
  <div style="flex: 1;background-color: blue;"></div>
</div>

<div style="display: flex;">
  <div style="flex: 1;background-color: pink; height: 50px;">
    <a href="/experiences/gateway">
      <div style="height: 100%;"></div>
    </a>
    <p>Hello</p>
  </div>
  <div style="flex: 1;background-color: red;"></div>
  <div style="flex: 1;background-color: blue;"></div>
  <div style="flex: 1;background-color: green;"></div>
</div> -->