--- 
---
<style>
    .avatar_img{ 
        border-radius: 50%;
        /* height: 80%; */
        max-height: 18rem;
    }
    p, h1, h2, h3{
        color: white;
        /* font-family: "Monaco", "Courier New", monospace; */
        font-family: Geneva,Tahoma,Verdana,sans-serif; 
    }
    p{
        font-size: large;
    }
    a{
        text-decoration: none;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;  
        height: 100%;
    }
    .center-allign{
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 100%;
    }
</style>
<body style="background-color: #000000;">
    <div style="background-color: #000000;" class="container">
        <div>
            <div class="center-allign">
                <img src="/assets/carlson.png" class="avatar_img">
            </div>
            <div class="center-allign">
                <h1 style="font-size: 4rem;"> Jake Carlson </h1>
            </div>
            <div class="center-allign">
                <h3 style="color: white;"> Software Engineering </h3>
            </div>
            <div class="center-allign">
                <h3 style="color: white;"> Recent Graduate of the University of Cincinnati </h3>
            </div>
            <div class="center-allign">
                <a href="/home">
                    <h3 style="color: pink;"> Lets get started</h4>
                </a>
            </div>
        </div>
    </div>
</body>
